.PaginaInicial {
  font-size: 20px;
  margin-left: 50px;
}

.PaginaInicial h2 {
  margin-top: 20px;
  color: rgb(12, 82, 12);
}

nav ul {
  list-style: disc;
}

nav li {
  margin: 10px 0;
}

.PaginaInicial a {
  padding: 3px 7px;
  color: black;
  font-weight: bold;
}

.Voltar {
  display: inline-block;
  margin: 50px;
  padding: 3px 7px;
  background-color: #2f7745;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Voltar:hover {
  background-color: #83e4a0;
}

