.PaginaInicial {
  margin-left: 50px;
  font-size: 20px;
}

h2 {
  margin-top: 20px;
  margin-left: 50px;
  color: rgb(12, 82, 12);
}

nav ul {
  margin-left: 10px;
  list-style: none;
}

nav li {
  margin: 10px 0;
}

nav a {
  display: inline-block;
  padding: 3px 7px;
  background-color: #56bb74;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a:hover {
  background-color: #4a7256;
}